.home {
  padding: 20px;
}

.sections {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.section {
  width: 45%;
  text-align: center;
}

.section img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}